html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: euphemia;
    src: url("../fonts/euphemia.ttf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.site-container {
    max-width: 1200px;
    margin: auto;
}

body {
    background-color: #1d1e4e;
}

#header {
    margin: 0 auto;
    background-image: url("../img/stars.png");
    width: 100%;
    height: auto;
}

#logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
}

#hours {
    color: #63d7e5;
}

#sun,
#fri,
footer p {
    color: #d4fc43;
}

#fri {
    margin-bottom: -10px;
}

#banner ul {
    margin: 0;
    background-color: green;
    width: 100%;
    height: 300px;
}

p {
    color: #e6e6e6;
    font-family: euphemia;
    font-size: 0.8em;
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.75);
}

.menu img:hover,
.arcade img:hover,
.events img:hover,
.contact img:hover {
    box-shadow: 0 0 2px 3px #d4fc43;
}

/* Begin Button Styling */

.btn {
    border: none;
    color: #e6e6e6;
    background-color: #ff7000;
    text-align: center;
    font-family: euphemia;
    border-radius: 10px;
    box-shadow: 0 6px #ab3c3c;
    padding: 10px 55px;
    position: relative;
}

.btn a {
    color: #ffffff;
    text-decoration: none;
}


.btn-hover:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

.btn-hover:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}

#menu li,
#linkcontent li,
footer li {
    display: inline;
}

/* End button styling */

.slicknav_menu {
    display: none;
}

#footer {
    background-image: url("../img/stars.png");
}

.title {
    color: #63d7e5;
    padding-top: 5%;
}

.footertext {
    margin-top: -10px;
}

/* Begin Mobile styling */

@media all and (min-width: 300px) {

    #menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }

    #header {
        margin-top: 30px;
        padding-bottom: 20px;
        padding-left: 10px;
    }

    #sun,
    #fri {
        margin-top: -10px;
    }

    #linkcontent {
        margin-left: -40px;
    }

    .menu img,
    .arcade img,
    .events img,
    .contact img {
        width: 50%;
        display: block;
        margin: auto;
        margin-top: 10%;
        border: #63d7e5 solid 2px;
        border-radius: 50%;
    }

    button {
        display: block;
        margin: auto;
        margin-top: 2%;
    }

    .contact button {
        margin-bottom: 10%;
    }

    footer p {
        display: block;
        padding-left: 10px;
        font-size: 1em;
    }
}

@media all and (min-width: 716px) {
    .slicknav_menu {
        display: none;
    }

    #logo img {
        max-width: 50%;
        padding-top: 25px;
    }

    #menu {
        display: inline;
        text-align: center;
    }

    #menu li a {
        color: #fb182c;
        text-decoration: none;
        font-size: 1.5em;
        padding-right: 55px;
        text-align: center;
    }

    #menu li a:hover {
        text-decoration: underline;
        font-style: italic;
    }

    #linkmenu {
        padding-left: 10px;
    }

    #hoursofop {
        text-align: center;
    }

    #hours,
    #sun,
    #fri {
        display: inline;
        font-size: 1em;
    }

    #linkcontent img {
       width: 35%;
    }

    .phone {
        margin-top: -16%;
        margin-left: 25%;
    }

}

@media all and (min-width: 1100px) {
    #logo img {
        max-width: 50%;
    }

    .phone {
        margin-top: -11.8%;
        margin-left: 18%;
    }

}
