@font-face {
    font-family: euphemia;
    src: url("../fonts/euphemia.ttf");
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.surprise {
    color: #63d7e5;
    text-transform: uppercase;
}

body {
    background-color: #1d1e4e;
    font-family: euphemia;
}

.site-container {
    max-width: 1200px;
    margin: auto;
}

p {
    color: #e6e6e6;
    font-family: euphemia;
    font-size: 1em;
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.75);
}

/* Begin CSS all page header */

#header {
    margin: 0 auto;
    background-image: url("../img/darksky.jpg");
    width: 100%;
    height: auto;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
}

#hours,
h3,
.title,
.contacttitle {
    color: #63d7e5;
}

#sun,
#fri,
footer p,
h2,
h4,
label,
#award {
    color: #d4fc43;
}

h2,
h4,
footer p,
#hoursofop p,
#promotions h3,
#events h3,
#party h3,
#tokens h3,
#award {
    text-transform: uppercase;
}

#fri {
    margin-bottom: -10px;
}

.slicknav_menu {
    display: none;
}

/* End CSS all page header */

/* Helps to display child elements in main */

.clearfix::before,
.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix::after {
    clear: both;
}

/* Image content CSS for homepage */

#tripadvisor img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu img:hover,
.arcade img:hover,
.events img:hover,
.contact img:hover,
.menuitems img:hover,
.food img:hover,
#promotions img:hover,
#events img:hover,
#bday img:hover,
#foodbanner,
#arcadegames img:hover {
    box-shadow: 0 0 2px 3px #d4fc43;
}

/* Begin Button Styling */

#linkcontent button {
    margin-top: 20px;
}

.btn,
input[type=submit] {
    border: none;
    color: #e6e6e6;
    background-color: #ff7000;
    text-align: center;
    font-family: euphemia;
    border-radius: 10px;
    box-shadow: 0 6px #ab3c3c;
    padding: 10px 55px;
    position: relative;
}

.btn a {
    color: #ffffff;
    text-decoration: none;
}


.btn-hover:hover,
input[type=submit]:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

.btn-hover:active,
input[type=submit]:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}

#gift img {
    width: 35%;
    border-radius: 75%;
}

/* End button styling */

#menu li,
#linkcontent li,
footer li,
.menuitems li,
#socialmediacontact li {
    display: inline;
}


/* Begin Footer Styling for all pages */

footer {
    background-image: url("../img/darksky.jpg");
}

#comevisit {
    padding-top: 15px;
}

.footertext {
    margin-top: -10px;
}

footer {
    padding-bottom: 5px;
}

.sociallist img {
    width: 10%;
    margin-left: 10px;
}

/* End Footer styling */



/* Begin Menu CSS */

.food,
#contactus,
#mainevents,
#arcadepage,
#indexcontent {
    padding: 3%;
}

.food h2 {
    padding-top: 15px;
}

#summary {
    margin-top: -10px;
}

.food h3 {
    clear: both;
    font-size: 1.5em;
    padding-top: 25px;
}

#foodbanner,
#skeeball img,
.arcadegames img {
    width: 100%;
}

#spaceapps {
    margin-top: -50px;
}

.food ul li {
    list-style-type: none;
}

#apps {
    padding-top: 50px;
}

.menuitems p,
.menuitems h4 {
    text-align: center;
}

.menuitems p {
    margin-top: -10px;
    padding: 5px;
}

.menuitems {
    margin-top: -1%;
}

/* End Menu CSS */


/* Begin Events CSS */

#party a,
#linkcontent a {
    text-decoration: none;
}

#mainevents img,
#arcadegames img {
    width: 100%;
    border: 2px solid #63d7e5;
}

#promotions h2,
#events h2 {
    margin-bottom: 25px;
}

#tokens,
#disco,
#parent {
    border: 2px dotted #63d7e5;
    padding: 10px;
    margin-bottom: 20px;
}

#skeeball,
#meetngreet {
    border: 2px dotted #d4fc43;
    padding: 10px;
    margin-bottom: 20px;
}

#skeeball a,
#tokens a {
    color: #fb182c;
}

#party {
    border: 2px dotted #ff7000;
    padding: 10px;
}

#bday button {
    margin-bottom: 10px;
}

/* End Events CSS */

/* Begin Contact CSS */

#socialmediacontact {
    margin-right: 10px;
}

form {
    border: 2px dotted #ff7000;
    padding: 10px;
}

#dateofevent {
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: 100px;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #339999;
    box-sizing: border-box;
    border-radius: 10px;

}

input[type=submit] {
    background-color: #ff7000;
    color: white;
    padding: -20px;
    margin: 10px 0;
    border-radius: 10px;
}


/* End Contact CSS */

/* Begin Mobile styling */

@media all and (min-width: 300px) {

    #header {
        margin-top: 30px;
        padding-bottom: 20px;
        padding-left: 10px;
    }

    #menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }

    #sun,
    #fri {
        margin-top: -10px;
    }

    .menu img,
    .arcade img,
    .events img,
    .contact img,
    .menuitems img,
    .food img {
        width: 50%;
        display: block;
        margin: auto;
        margin-top: 10%;
        border: #63d7e5 solid 2px;
        border-radius: 50%;
    }

    button {
        display: block;
        margin: auto;
        margin-top: 2%;
    }

    #events h2,
    #bday {
        margin-top: 50px;
    }

    .contact button {
        margin-bottom: 10%;
    }

    footer p {
        display: block;
        padding-left: 10px;
        font-size: 1em;
    }

    .food h2 {
        font-size: 2em;
        margin-top: -10px;
    }
}

@media all and (min-width: 716px) {
    #menu {
        display: none;
    }

    #logo img {
        max-width: 65%;
    }

    #hoursofop {
        text-align: center;
        margin-top: 20px;
    }

    #hours,
    #sun,
    #fri {
        display: inline;
        font-size: 1em;
    }

    #lefty {
        width: 50%;
    }

    #tripadvisor {
        float: right;
        margin-top: -225px;
        margin-right: 200px;
    }

    #linkcontent img {
        width: 50%;
    }

    .left {
        float: left;
        width: 50%;
    }

    .right {
        float: right;
        width: 50%;
    }

    .food h3 {
        padding-top: 45px;
    }

    #arcadecontent {
        float: left;
        width: 50%;
        padding-right: 25px;

    }

    #arcadegames {
        float: right;
        width: calc(100% / 2);
        padding-right: -30px;
    }

    #promotions,
    #events,
    #bday {
        float: left;
        width: calc(100% / 3);
        padding: 10px;
    }

    #promotions h2,
    #events h2,
    #bday h2 {
        text-align: center;
    }

    #events h2 {
        margin-top: 17px;
    }

    #bday {
        margin-top: -30px;
    }

    #contactus h2,
    #contactus p {
        padding-right: 20px;
    }

    #contactinfo {
        width: 50%;
        float: left;
    }

    #contactform {
        float: right;
        width: 50%;
    }

    .address {
        float: left;
        padding-right: 50px;
    }

    .phone {
        padding-top: 15px;
    }

    .socialmedia {
        width: 45%;
        float: right;
        margin-top: -110px;
    }

    #fb {
        margin-left: 125px;
    }
}

@media all and (min-width: 1100px) {
    #logo img {
        max-width: 50%;
        padding-top: 25px;
    }

    .slicknav_menu {
        display: none;
    }

    #menu {
        display: inline;
        text-align: center;
    }

    #menu li a {
        color: #fb182c;
        text-decoration: none;
        font-size: 1.5em;
        padding-right: 55px;
        text-align: center;
    }

    #menu li a:hover {
        text-decoration: underline;
        font-style: italic;
    }

    #linkmenu {
        padding-left: 10px;
    }

    .menu,
    .arcade,
    .events,
    .contact,
    .menuitems {
        float: left;
        width: 25%;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    #linkcontent img,
    .food img {
        width: 75%;
    }

    #spaceapps,
    .foodlist {
        margin-top: -75px;
    }

    .food {
        padding: 0;
    }

    .food h2 {
        margin-top: 25px;
    }

    #mainevents {
        padding: 0;
        margin-top: 25px;
    }

    #arcadecontent {
        margin-left: -3%;
        margin-top: -25px;
    }

    #arcadegames {
        margin-right: -30px;
    }

    #bday {
        margin-top: 0;
    }

    #contactus {
        margin: 0;
        padding: 20px 5px;
    }

    #dateofevent {
        margin-right: 200px;
    }

    #fb {
        margin-left: 200px;
    }
}
