html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: euphemia;
    src: url("../fonts/euphemia.ttf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.site-container {
    max-width: 1200px;
    margin: auto;
}

body {
    background-color: #1d1e4e;
    margin: 0;
}

#header {
    margin: 0 auto;
    background-image: url("../img/stars.png");
    width: 100%;
    height: auto;
}

#logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content {
    background-color: #404578;
    width: 100%;
    height: auto;
}

@media all and (min-width: 300px) {
    #header {
        padding: 30px;
    }

    h2 {
        margin-top: -1px;
        margin-bottom: -5px;
    }

    #content {
        padding: 20px 20px 120px 20px;
    }

    #content a {
        display: block;
        float: left;
    }

    .btn {
        display: inline;
        padding: 10px 10px;
        margin-top: 40px;
        margin-bottom: 20px;
        float: left;
        margin-left: -60px;
    }

    #content #bottom {
        margin-left: 10px;
    }

    #images {
        margin-left: -40px;
        padding: 10px;
    }

    #images ul li {
        margin-bottom: 10px;
    }
}
