html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: euphemia;
    src: url("../fonts/euphemia.ttf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.site-container {
    max-width: 1200px;
    margin: auto;
}

body {
    background-color: #1d1e4e;
    margin: 0;
}

#header {
    margin: 0 auto;
    background-image: url("../img/stars.png");
    width: 100%;
    height: auto;
}

#logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
}

#hours {
    color: #63d7e5;
}

#sun,
#fri,
footer p {
    color: #d4fc43;
}

#fri {
    margin-bottom: -10px;
}


footer li {
    display: inline;
}

#banner ul {
    background-color: green;
    width: 100%;
    height: 300px;
}

p {
    color: #e6e6e6;
    font-family: euphemia;
    font-size: 0.8em;
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.75);
}

/* Begin Button Styling */

.btn {
    border: none;
    color: #e6e6e6;
    background-color: #ff7000;
    text-align: center;
    font-family: euphemia;
    border-radius: 10px;
    box-shadow: 0 6px #ab3c3c;
    padding: 10px 55px;
    position: relative;
}


.btn-hover:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

.btn-hover:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}

#menu li {
    display: inline;
}

#linkcontent li {
    display: inline;
}

/* End button styling */

.slicknav_menu {
    display: none;
}

#footer {
    background-image: url("../img/stars.png");
}

/* Begin Mobile styling */

@media all and (min-width: 300px) {

    #menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }

    #header {
        margin-top: 30px;
        padding-bottom: 20px;
        padding-left: 10px;
    }

    #sun,
    #fri {
        margin-top: -10px;
    }

    #linkcontent {
      margin-left: -40px;
    }

    .menu img,
    .arcade img,
    .contact img {
        width: 50%;
        display: block;
        margin: auto;
        margin-top: 10%;
        border: #63d7e5 solid 2px;
        border-radius: 50%;
    }

    .menu,
    .arcade,
    .contact {
        margin: 0;
    }

    .menu img:hover,
    .arcade img:hover,
    .contact img:hover {
        box-shadow: 0 0 2px 3px #d4fc43;
    }

    button {
        display: block;
        margin: auto;
        margin-top: 2%;
    }

    .contact button {
        margin-bottom: 10%;
    }

    footer p {
        display: block;
        padding-left: 10px;
        font-size: 1em;
    }

    .title {
        color: #63d7e5;
        padding-top: 5%;
    }

    .footertext {
        margin-top: -10px;
    }

    .socialmedia img {
        width: 10%;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    #fb {
        margin-left: -40px;
    }

}

@media all and (min-width: 500px) {
    .menu img,
    .arcade img,
    .contact img {
        width: 30%;
    }
}

@media all and (min-width: 716px) {
    .slicknav_menu {
        display: none;
    }

    #logo img {
        max-width: 50%;
        padding-top: 25px;
    }

    #menu {
        display: inline;
        text-align: center;
    }

    #menu li a {
        color: #fb182c;
        text-decoration: none;
        font-size: 1.5em;
        padding-right: 55px;
        text-align: center;
    }

    #menu li a:hover {
        text-decoration: underline;
        font-style: italic;
    }

    #linkmenu {
        padding-left: 10px;
    }

    #hoursofop {
        text-align: center;
    }

    #hours,
    #sun,
    #fri {
        display: inline;
        font-size: 1em;
    }

    #linkcontent li {
        display: inline;
        float: left;
        margin-left: 30px;
        margin-top: 20px;
    }

    .menu img,
    .arcade img,
    .contact img {
        width: 75%;
        margin-bottom: 10px;
        margin-top: 50px;
    }

    .address {
        float: left;
    }

    .phone {
        float: left;
        padding-left: 5%;
    }

    .socialmedia li img {
        width: 4%;
    }

    #fb {
        margin-left: 500px;
    }

}

@media all and (min-width: 900px) {

    #linkcontent li {
        margin-left: 65px;
    }

    .menu img,
    .arcade img,
    .contact img {
        width: 75%;
        margin-bottom: 10px;
        margin-top: 50px;
    }
}


@media all and (min-width: 1100px) {

    #logo img {
        max-width: 50%;
    }

    #linkcontent li {
        margin-left: 110px;
        margin-right: 60px;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .menu img,
    .arcade img,
    .contact img {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 50px;
    }

}
