html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: euphemia;
    src: url("../fonts/euphemia.ttf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.site-container {
    max-width: 1200px;
    margin: auto;
}

body {
    background-color: #1d1e4e;
    margin: 0;
}

#header {
    margin: 0 auto;
    background-image: url("../img/stars.png");
    width: 100%;
    height: auto;
}

#logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hours,
#sun,
#fri {
    color: #d4fc43;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: #fb182c;
}

#content {
    background-color: #404578;
    width: 100%;
    height: auto;
}

h2 {
    color: #d4fc43;
    font-family: euphemia;
    font-size: 2em;
}

h3 {
    font-size: 1em;
    color: #63d7e5;
    font-family: euphemia;
}


p {
    color: #e6e6e6;
    font-family: euphemia;
    font-size: 0.8em;
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.75);
}

#link {
    font-family: euphemia;
    color: #fb182c;
    text-decoration: none;

}

#link:hover,
nav li a:hover {
    text-decoration: underline;
    font-style: italic;
}


/* Begin Button Styling */

.btn {
    border: none;
    color: #e6e6e6;
    background-color: #ff7000;
    text-align: center;
    font-family: euphemia;
    border-radius: 10px;
    box-shadow: 0 6px #ab3c3c;
    padding: 15px 35px;
    position: relative;
}

/* Allows for the "Menu" button to be the same width as "arcade" */

#top,
#bottom {
    padding: 15px 40px;
}

.btn-h:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

.btn-h:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}

/* End button styling */

#images img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: #63d7e5 solid 2px;
}

#images img:hover {
    box-shadow: 0 0 2px 3px #d4fc43;
}

.lists ul li {
    list-style: none;
}


@media all and (min-width: 300px) {
    #header {
        padding: 30px;
    }

    h2 {
        margin-top: -1px;
        margin-bottom: -5px;
    }

    #content {
        padding: 20px 20px 120px 20px;
    }

    #content a {
        display: block;
        float: left;
    }

    #sun,
    #fri {
        margin-top: -10px;
    }

    .btn {
        display: inline;
        padding: 10px 10px;
        margin-top: 40px;
        margin-bottom: 20px;
        float: left;
        margin-left: -60px;
    }

    #content #bottom {
        margin-left: 10px;
    }

    #images {
        margin-left: -40px;
        padding: 10px;
    }

    #images ul li {
        margin-bottom: 10px;
    }
}

@media all and (min-width: 716px) {
    #logo img {
        max-width: 50%;
    }

}

@media all and (min-width: 1100px) {

    #logo img {
        max-width: 50%;
    }

    #content {
        margin-left: 0;
    }
}
