@font-face {
    font-family: euphemia;
    src: url("../fonts/euphemia.ttf");
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #1d1e4e;
    font-family: euphemia;
}

.site-container {
    max-width: 1200px;
    margin: auto;
}

p {
    color: #e6e6e6;
    font-family: euphemia;
    font-size: 1em;
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.75);
}

/* Begin CSS all page header */

#header {
    margin: 0 auto;
    background-image: url("../img/stars.png");
    width: 100%;
    height: auto;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
}

#hours,
.food h3,
.title {
    color: #63d7e5;
}

#sun,
#fri,
footer p,
.food h2 {
    color: #d4fc43;
}

#fri {
    margin-bottom: -10px;
}

.slicknav_menu {
    display: none;
}

/* End CSS all page header */

/* Helps to display child elements in main */

.clearfix::before,
.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix::after {
    clear: both;
}


/* Image content CSS for homepage */

.menu img:hover,
.arcade img:hover,
.events img:hover,
.contact img:hover,
.menuitems img:hover,
.food img:hover {
    box-shadow: 0 0 2px 3px #d4fc43;
}

/* Begin Button Styling */

#linkcontent button {
    margin-top: 20px;
}

.btn {
    border: none;
    color: #e6e6e6;
    background-color: #ff7000;
    text-align: center;
    font-family: euphemia;
    border-radius: 10px;
    box-shadow: 0 6px #ab3c3c;
    padding: 10px 55px;
    position: relative;
}

.btn a {
    color: #ffffff;
    text-decoration: none;
}


.btn-hover:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

.btn-hover:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}

/* End button styling */

#menu li,
#linkcontent li,
footer li,
.menuitems li,
.fa-ul i {
    display: inline;
}


/* Begin Footer Styling for all pages */

footer {
    background-image: url("../img/stars.png");
}

#comevisit {
    padding-top: 15px;
}

.footertext {
    margin-top: -10px;
}

footer {
    padding-bottom: 5px;
}

.sociallist img {
    width: 10%;
    margin-left: 10px;
}

/* End Footer styling */



/* Begin Menu CSS */

.food {
    padding: 3%;
}

.food h2 {
    padding-top: 15px;
}

#summary {
    margin-top: -10px;
}

.food h3 {
    clear: both;
    font-size: 1.5em;
    padding-top: 25px;
}

#spaceapps {
    margin-top: -50px;
}

.food ul li {
    list-style-type: none;
}

#apps {
    padding-top: 50px;
}

.menuitems p {
    text-align: center;
}

.menuitems {
    margin-top: -1%;
}

/* Begin Mobile styling */

@media all and (min-width: 300px) {

    #header {
        margin-top: 30px;
        padding-bottom: 20px;
        padding-left: 10px;
    }

    #menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }

    #sun,
    #fri {
        margin-top: -10px;
    }

    .menu img,
    .arcade img,
    .events img,
    .contact img,
    .menuitems img,
    .food img {
        width: 50%;
        display: block;
        margin: auto;
        margin-top: 10%;
        border: #63d7e5 solid 2px;
        border-radius: 50%;
    }

    button {
        display: block;
        margin: auto;
        margin-top: 2%;
    }

    .contact button {
        margin-bottom: 10%;
    }

    footer p {
        display: block;
        padding-left: 10px;
        font-size: 1em;
    }

    .food h2 {
        font-size: 2em;
        margin-top: -10px;
    }
}

@media all and (min-width: 716px) {
    #menu {
        display: none;
    }

    #logo img {
        max-width: 65%;
    }

    #hoursofop {
        text-align: center;
        margin-top: 20px;
    }

    #hours,
    #sun,
    #fri {
        display: inline;
        font-size: 1em;
    }

    #linkcontent img {
        width: 50%;
    }

    .left {
        float: left;
        width: 50%;
    }

    .right {
        float: right;
        width: 50%;
    }

    .food h3 {
        padding-top: 45px;
    }

    .address {
        float: left;
        padding-right: 50px;
    }

    .phone {
        padding-top: 15px;
    }

    .socialmedia {
        width: 45%;
        float: right;
        margin-top: -110px;
    }

    #fb {
        margin-left: 125px;
    }
}

@media all and (min-width: 1100px) {
    #logo img {
        max-width: 50%;
        padding-top: 25px;
    }

    .slicknav_menu {
        display: none;
    }

    #menu {
        display: inline;
        text-align: center;
    }

    #menu li a {
        color: #fb182c;
        text-decoration: none;
        font-size: 1.5em;
        padding-right: 55px;
        text-align: center;
    }

    #menu li a:hover {
        text-decoration: underline;
        font-style: italic;
    }

    #linkmenu {
        padding-left: 10px;
    }

    .menu,
    .arcade,
    .events,
    .contact,
    .menuitems {
        float: left;
        width: 25%;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    #linkcontent img,
    .food img {
        width: 75%;
    }

    #spaceapps {
        margin-top: -75px;
    }

    #spacepizza {
        padding-top: -500px;
    }

    .foodlist {
        margin-top: -75px;
    }


    #fb {
        margin-left: 200px;
    }

}
